@import 'App';
@import 'Header';
@import 'Main';
@import 'BeerCard';
@import 'Modal';
@import 'Nav';
@import 'AdvanceSearch';
@import '~font-awesome/css/font-awesome.min.css';

:root {
  --color-primary: #F79400;
  --color-grey-light: #C6BCB6;
  --color-grey: #7A7A7A;
}

*, 
::after,
::before {
  /*  Universal selectors */
  margin: 0;
  padding: 0; 
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @media only screen and (max-width: 37.5em){ // 600px
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.u-center {
  width: 100%;
  text-align: center;
}

.loading {
  font-size: 3rem;
}

.u-center-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}