.main-container {
  padding: 6rem;
  max-width: 850px;
  margin: 0 auto;

  @media only screen and (max-width: 60em){
    padding: 2rem;
    max-width: 500px;
  }
    
  @media only screen and (max-width: 37.5em){
    max-width: 100%;
  }
}

.grid {
  
  display: grid;
  align-content: center;
  justify-content: center;
  grid-gap: 2rem;
  justify-items: stretch;

  grid-template-columns: repeat(auto-fit, minmax(min-content, 22rem)); 

  @media only screen and (max-width: 37.5em){ // 600px
    grid-template-columns: 1fr; 
  }
}